<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ERTIGA 360&deg; VIEWER</title>
<!--	<link rel="stylesheet" href="../css/carconfig.min.css">
	<link rel="stylesheet" href="css/parts.min.css">-->
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="css/parts.css">
<!--
	<script type="text/javascript">
		function closeWin() {
			parent.$.fancybox.close();
		}
	</script>
-->
</head>
<body>
	<div id="config">
<!--
		<div id="header">
			<img src="image/head.png" width="175" height="40" alt=""><img src="image/logo.png" width="186" height="40" alt="">
			<div class="closeBtn"><a href="javascript:closeWin()">&nbsp;</a></div>
		</div>
-->
		<div id="loadingIndicator" class="loadingTargetHide"></div>

		<!-- stage -->
		<div id="stageWrapper">

			<!-- FUNC_POTINT Stage -->
			<div id="func-point"></div>

			<!-- INTERIOR Stage -->
			<div id="interiorStage">
				<div id="INT_BOX_THREE"></div>
				<div id="INT_BOX_WRAP1">
					<div id="INT_BOX_WRAP2">
						<div id="INT_BOX">
							<div id="INT_BOX_Z1"><img src="../assets/image/int_placeholder.png" width="1280" height="1280" alt=""></div>
							<div id="INT_BOX_Z2"><img src="../assets/image/int_placeholder.png" width="1280" height="1280" alt=""></div>
							<div id="INT_BOX_X1"><img src="../assets/image/int_placeholder.png" width="1280" height="1280" alt=""></div>
							<div id="INT_BOX_X2"><img src="../assets/image/int_placeholder.png" width="1280" height="1280" alt=""></div>
							<div id="INT_BOX_Y1"><img src="../assets/image/int_placeholder.png" width="1280" height="1280" alt=""></div>
							<div id="INT_BOX_Y2"><img src="../assets/image/int_placeholder.png" width="1280" height="1280" alt=""></div>
						</div>
					</div>
				</div>
			</div>

			<!-- EXTERIOR Stage -->
			<div id="exteriorStage">
				<div class="stage"></div>
				<div class="tmp"></div>
			</div>

			<div id="featuresSwitch"><span class="fpSwitchBtn on"></span></div>

			<!-- Mode Select -->
			<div id="modeSelect">
				<span class="modeBtn selected" id="EXTERIOR">Exterior</span>
				<span class="modeBtn" id="INTERIOR">Interior</span>
			</div>


			<div id="indicator">
				<ul></ul>
			</div>

			<div id="gradeName">
				<p class="grdLabel"></p>
				<p class="bcLabel"></p>
			</div>

			<!-- Item Lists-->
			<div id="selectMenu" class="accordion">

				<!-- ITEMS -->
				<div id="exteriorItems" class="JStabchangeWrap">
					<ul class="menuTab"><!--
						--><li class="menuTab-GRD extTab tabOn"><a href="javascript:void(0)">&nbsp;</a></li><!--
						--><li class="menuTab-EXT_BDC extTab"><a href="javascript:void(0)">&nbsp;</a></li><!--
						--><li class="menuTab-EXT_WHL extTab"><a href="javascript:void(0)">&nbsp;</a></li><!--
						--><li class="menuTab-EXT_OPT extTab"><a href="javascript:void(0)">&nbsp;</a></li><!--
						--><li class="menuTab-INT_COL intTab" style="display:none"><a href="javascript:void(0)">&nbsp;</a></li><!--
						--><li class="menuTab-NULL intTab" style="display:none">&nbsp;</li><!--
						--><li class="menuTab-NULL intTab" style="display:none">&nbsp;</li><!--
						--><li class="menuTab-NULL intTab" style="display:none">&nbsp;</li><!--
						--><li class="menuTab-SMR"><a href="javascript:void(0)">&nbsp;</a></li><!--
					--></ul>
					<div class="selectMenuWrapper">
						<div id="EXT_BACKGROUND" style="display:none">
							<div class="slideAreaWrap"></div>
						</div>
						<div class="menuList-GRD" id="GRADE_LIST">
							<div class="slideAreaWrap"></div>
							<div class="slideNavi" style="display:none">
								<div class="slideL"></div>
								<ul class="pageIndicator"></ul>
								<div class="slideR"></div>
							</div>
						</div>
						<div class="menuList-EXT_BDC" id="EXT_BODY_COLOR" style="display:none">
							<p><b>BODY COLOUR:</b> <span class="bcLabel"></span></p>
							<div class="slideAreaWrap"></div>
						</div>
						<div class="menuList-EXT_WHL" id="EXT_WHEEL" style="display:none">
							<div class="slideAreaWrap"></div>
							<div class="slideNavi" style="display:none">
								<div class="slideL"></div>
								<ul class="pageIndicator"></ul>
								<div class="slideR"></div>
							</div>
						</div>
						<div class="menuList-EXT_OPT" id="EXT_OPTION_ACCESSORY" style="display:none">
							<div class="slideAreaWrap"></div>
							<div class="slideNavi" style="display:none">
								<div class="slideL"></div>
								<ul class="pageIndicator"></ul>
								<div class="slideR"></div>
							</div>
						</div>
						<div class="menuList-INT_COL" id="INT_BASE" style="display:none">
							<div class="slideAreaWrap"></div>
						</div>
						<div class="menuList-SMR" id="SUMMARY" style="display:none">
							<div class="slideAreaWrap">
								<dl class="summaryBlockLeft"></dl>
								<dl class="summaryBlockRight"></dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Template -->
	<script id="TMPL_ITEM" type="text/x-jquery-tmpl">
		<dl id='${group_id}'>{{each(i, item) items}}{{if item.subItem=="" && !(!item.visible && !item.checked)}}<dd class='${group_id} {{if item.checked}}selected{{/if}} {{if type=='radio'}}radioType{{else type=='check'}}checkType{{else}}mixType{{/if}} {{if !item.isConfig}}noConfig{{/if}}' id='${item.item_id}'{{if !item.visible}}style="display: none;"{{/if}}>
					{{if item.visible}}<div class="itemIcon item-${item.thumbnail}" style="background: url('../assets/materials/thumbnails/${item.thumbnail}.png') no-repeat scroll 1px 1px transparent;"><div class="infoIcon"></div></div>{{/if}}
					<p class="itemLabel">{{html item.label}}</p>
					<p class="itemDescription">{{html item.description}}</p>
					{{if item.subMenu}}
					<span class="subMenuBtn">color</span>
					<div class="subMenu" style="display: none;">
						<div class='${group_id} {{if item.checked}}selected{{/if}} {{if type=='radio'}}radioType{{else type=='check'}}checkType{{else}}mixType{{/if}} ' data-subitemid='${item.item_id}'{{if !item.visible}}style="display: none;"{{/if}}>
							{{if item.visible}}<div class="itemIcon subItem-${item.thumbnail}" style="background: url('../assets/materials/thumbnails/Sub-${item.thumbnail}.png') no-repeat scroll 0 0 transparent !important;"></div>{{/if}}
							<p class="itemLabel">{{html item.label}}</p>
							<p class="itemDescription">{{html item.description}}</p>
						</div>
						{{each(k, sub) item.subMenu}}
						{{if !(!sub.visible && !sub.checked)}}
						<div class='${group_id} {{if sub.checked}}selected{{/if}} {{if type=='radio'}}radioType{{else type=='check'}}checkType{{else}}mixType{{/if}} ' data-subitemid='${sub.item_id}'{{if !sub.visible}}style="display: none;"{{/if}}>
							{{if sub.visible}}<div class="itemIcon subItem-${sub.thumbnail}" style="background: url('../assets/materials/thumbnails/Sub-${sub.thumbnail}.png') no-repeat scroll 0 0 transparent !important;"></div>{{/if}}
							<p class="itemLabel">{{html sub.label}}</p>
							<p class="itemDescription">{{html sub.description}}</p>
						</div>
						{{/if}}
						{{/each}}
					</div>
					{{/if}}
					{{if !item.isConfig}}
					<div class="noSimulationTooltip" style="display: none;"></div>
					{{/if}}
				</dd>{{/if}}{{/each}}</dl>
	</script>

	<script id="TMPL_SP_DESCRIPTION" type="text/x-jquery-tmpl">
		<div id = '${feature_id}' class="description" style="display: none;">
			<p class="fp-closeBtn clearfix"></p>
			<div class='fp-thumb'>
				{{each(i, path) thumbnail}}
					<img src='../assets/materials/thumbnails/${path}.jpg' width='400' height='235' alt=''>
				{{/each}}
			</div>
			<p class='fp-label'>{{html label}}</p>
			<p class='fp-description'>{{html description}}</p>
		</div>
	</script>
<script src="../scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="../scripts/jquery.tmpl.js" type="text/javascript"></script>
<script src="../scripts/jsonpath-0.8.0.js" type="text/javascript"></script>
<script src="../scripts/jquery.swfobject.1-1-1.min.js" type="text/javascript"></script>
<script src="../scripts/tabchange.js" type="text/javascript"></script>
<script src="../scripts/carconfig.min.js" type="text/javascript"></script>
<script>
		function fixedMe() {
			var screenW = $(window).width(),
				screenH = $(window).height(),
				main = $('#config'),
				marginTop = 0,
				marginLeft = 0,
				ratio = 1;

			if (screenW >= main.width() && screenH >= main.height()) {
				//Move Main to center
				marginTop = (screenH - main.height()) / 2;
				marginLeft = (screenW - main.width()) / 2;
			} else if (screenW <= screenH) {
				//Scale to fit, portrait
				ratio = screenW / main.outerWidth();
				marginTop = (screenH - main.height() * ratio) / 2;
			} else {
				//Scale to fit, landscape
				var ratio = screenH / (main.outerHeight() + 20);
				marginLeft = (screenW - main.width() * ratio) / 2;
			};
			main.css({
				'transform': 'scale(' + ratio + ',' + ratio + ')',
				'transform-origin': '0 0',
				'margin': marginTop + 'px ' + marginLeft + 'px'
			});
			main.show();
		};
		fixedMe();
		$(window).resize(fixedMe);
	</script>
</body>
</html>