#config {
	width:875px;
}

#loadingIndicator {
	width: 875px;
    top: 260px;
}

#exteriorStage{
	width: 875px;
    height: 525px;
}

#interiorStage {
	width: 875px;
    height: 525px;
}

#fp-descriptions div.description{
    top: 62px;
    left: 447px;
}

#selectMenu .summaryBlockLeft{
	margin-left:4px;
}

#selectMenu .summaryBlockRight{
	width:452px;
}

#selectMenu .summaryBlockLeft dt{
	width:298px;
}

#selectMenu .summaryBlockLeft dd{
	width:298px;
}

#selectMenu .summaryBlockRight dt{
	width:440px;
}

#selectMenu .summaryBlockRight dd{
	width:440px;
}

#stage{
    width: 875px;
    height: 525px;
}

#modeSelect{
	top:475px;
	width:159px;
	height:25px;
}
#modeSelect>span {
	width:159px;
	height:25px;
}

#modeSelect #EXTERIOR {
	background:url(../image/mode_switch_btn2.png) no-repeat;
}

#modeSelect #INTERIOR {
	background:url(../image/mode_switch_btn1.png) no-repeat;
}

#header{
	width:875px;
}

#indicator{
	top:468px;
}

#indicator ul li{
	margin:0px 2px;
}

#gradeName{
	top:470px;
	width:165px;
}

#exteriorItems ul.menuTab{
	width:845px;
}

#exteriorItems ul.menuTab li{
	width:159px;
}

#exteriorItems ul.menuTab li a{
	width:159px;
}

#exteriorItems ul.menuTab li{
	background:url(../image/menu_tab.png) no-repeat;
}

#exteriorItems ul.menuTab li.menuTab-GRD {background-position:    0px 0px;}
#exteriorItems ul.menuTab li.menuTab-EXT_BDC {background-position: -159px 0px;}
#exteriorItems ul.menuTab li.menuTab-EXT_WHL {background-position: -318px 0px;}
#exteriorItems ul.menuTab li.menuTab-EXT_OPT {background-position: -477px 0px;}
#exteriorItems ul.menuTab li.menuTab-SMR {background-position: -636px 0px;}
#exteriorItems ul.menuTab li.menuTab-INT_COL {background-position: -795px 0px;}
#exteriorItems ul.menuTab li.menuTab-NULL {background-position: -954px 0px;}

#exteriorItems ul.menuTab li.menuTab-GRD.tabOn {background-position:    0px -85px;}
#exteriorItems ul.menuTab li.menuTab-EXT_BDC.tabOn {background-position: -159px -85px;}
#exteriorItems ul.menuTab li.menuTab-EXT_WHL.tabOn {background-position: -318px -85px;}
#exteriorItems ul.menuTab li.menuTab-EXT_OPT.tabOn {background-position: -477px -85px;}
#exteriorItems ul.menuTab li.menuTab-SMR.tabOn {background-position: -636px -85px;}
#exteriorItems ul.menuTab li.menuTab-INT_COL.tabOn {background-position: -795px -85px;}

#INT_BOX_WRAP1 {
	top: -377px;
	left: -202px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

#INT_BOX_WRAP2 {
    -webkit-transform: translateZ(500px);
    -moz-transform: translateZ(500px);
}

#featuresSwitch
{
	width:137px;
	height:25px;
	background:url(../image/fp_base.png) no-repeat;
}

#featuresSwitch .fpSwitchBtn{
	width:67px;
	height:25px;
	background:url(../image/fp_switch_btn2.png) no-repeat;
}

#featuresSwitch .fpSwitchBtn.on{
	background:url(../image/fp_switch_btn1.png) no-repeat;
}