@model Nop.Web.Models.Common.SocialModel


<nav class="social">
    <a href="@Model.FacebookLink" target="_blank"><em class="fab fa-facebook-f"></em></a>
    <a href="@Model.YoutubeLink" target="_blank"><em class="fab fa-youtube"></em></a>
    <a href="@Model.GooglePlusLink" target="_blank"><em class="fab fa-google-plus-g"></em></a>
    <a href="@Model.TwitterLink" target="_blank"><em class="fab fa-pinterest-square"></em></a>
</nav>